.gradient{
  position: absolute;
  inset: 0;
  background-image: linear-gradient(0deg, var(--bs-body-bg), transparent 15%);
  bottom: -1px;
}

.name{
  letter-spacing: -5%;
}

.sette{
  color: var(--bs-primary);
}

.area{
  letter-spacing: -2%;
}

.info{
  width: 100%;
  max-width: 450px;
}